  div {margin:0;}
	  body {background-color:#ffffff; font-family:helvetica,arial,sans-serif; font-size:18px;}
	  h1 {color:#153424; font-family:helvetica,arial,sans-serif; font-weight:bold;}
	  h2, p, h3 {color:#000000; text-align:left; font-family:helvetica,arial,sans-serif;}
	  #container {width:1000px; height:fluid; margin:auto; padding:0px; overflow:hidden}
	  #home {float:left; height:40px; width:40px; margin:10px; background-image:url('../images/home.png');}
	  #social {float:right; margin:20px;}
	  .socialbutton {width:32px; height:32px; float:left; margin-left: 5px;}
	  #header {width:1000px; height:200px; padding 20px; position:relative;  /*background-image:url('../images/pkpshield.jpg');*/}
          #navbar {width:1000px; height:50px; position:absolute; bottom:30px;}
	  .navbutton {height:40px; float:left; width:140px; border-bottom-style:double; border-bottom-color:#2B6848;}
          .break {height:100px; float:left; width:150px; margin-top: -95px;}
	  .navtext {text-decoration:none; color:#000000; font-size:20px; font-family:helvetica,arial,sans-serif; text-align: center;}
	  .navtext:hover {color:##2B6848;}
	  #content {width:960px; padding:20px; min-height:600px; overflow:hidden; text-align:center;}
	  .contentmenu {height:200px; width:960px; margin-bottom:25px;}
	  .contentbuttonleft {height:200px; width:400px; float:left; border-style:double; border-color:##2B6848;}
	  .contentbuttonright {height:200px; width:400px; float:right; border-style:double; border-color:##2B6848;}
	  #slideshow {width:950px; height:510px; border-style:double; border-color:##2B6848; text-align:center; border-style:double; border-color:#2B6848; overflow:hidden; display:inline-block; margin-top: 20px; background-image: url(../images/phi_psi_shield_slideshow_bkgrnd.png);}
	  .photo {position:relative; width:950px; margin:0; border-color:#2B6848;}
	  #subcontent_container {width:960px; float:left; margin-left:3px; margin-top: 20px;}
	  #subcontent1 {padding-right: 0px;}
	  #subcontent2 {width: 480px; text-align: left; border: solid #e9e9e9 1px; border-top-right-radius: 5px; border-top-left-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
	  #subcontent2 h3 {text-align: center;}
	  #form_container1 {margin-left: 20px; width: 260px; text-align: left; float: left; }
	  #form_container2 {float: right; width: 180px; text-align: right; margin-right: 20px;}
	  #form_container2 a {text-decoration: underline; color: #355e3b;}
	  #rush_phi_psi_link {margin-left: auto; margin-right: auto; vertical-align: bottom; position: absolute; bottom: 0px;}
	  #rush_phi_psi_link img {width:480px; display: block; margin: auto; vertical-align: bottom;}
	  .email {margin-left: 20px;}
	  .subcontent {position: relative; width: 470px; height:500px; float: left; }
	  .subcontent h3 {margin-left: 20px;}
	  #composite {width:800px; height:629px; text-align:center; margin:0 auto; border-style:double; border-color:#2B6848; padding:2px; background-image:url('../images/composite.png'); margin-top:40px;}
	  a {text-decoration:none; color:#000000;}
	  a:hover {color:#000000;}
          #footer {width:1000px; height:50px; position:relative; border-top-style:double; border-color:#2B6848; bottom:0px; margin-top:20px;}
      .hoverable > img {position: relative; top:0; left:0; width:400px;}
      .short_description {position: relative; bottom: 40px; background-color: black; color: #ffffff; text-align: center; width: 400px; font-size: 18px;
      	height:40px; display: table-cell; vertical-align: middle; font-family:helvetica,arial,sans-serif}
      .hoverable {cursor:pointer;}
      .slideshow_content {position: relative; height: 60px; width: 950px; background-color: black; vertical-align: top; color: white; padding-left: 20px; padding-right: 20px; display: table-cell; vertical-align: middle;}
      
